* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-contanier {
  width: 100%;
  height: 100%;
}

.header-container {
  height: 65%;
}

.body-container {
  height: 25%;
  display: flex;
}

.footer-container {
  height: 10%;
  margin: 0 5%;
}

.body-imgs {
  width: 25%;
}

.more-info {
  display: inline;
}

.more-info > p,
footer {
  color: rgb(110, 110, 110);
  font-size: 0.8334em;
  line-height: 1.2;
}

.more-info p:first-child {
  float: left;
}

.more-info p:last-child {
  float: right;
}
